PORT=4044
PARSE_DASHBOARD_APP_ID=<app_id>
PARSE_DASHBOARD_MASTER_KEY=<master_key>
PARSE_DASHBOARD_SERVER_URL=http://localhost:3004/parse
PARSE_DASHBOARD_ALLOW_INSECURE_HTTP=1
PARSE_DASHBOARD_USER_ID=<user_id>
PARSE_DASHBOARD_USER_PASSWORD=<password>